* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

._box {
    box-sizing: content-box;
    border: 8px solid black;
    width: 512px;
    height: 128px;
    padding: 16px;
    margin: 16px;
}

.box_one {
    background-color: aquamarine;
}

.box_two {
    background-color: azure;
}