* {
    box-sizing: border-box;
}

.container {
    display: flex;
    min-width: 100vh;
    min-height: 100vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
}

.spinner-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite;
    animation: blinking 2s infinite linear;
}

.rect {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation: moving 2s alternate infinite, blinking 2s infinite;
}