$sm:600px;
$md:900px;
$lrg:1200px;
@mixin for-medium-size {
    @media screen and (min-width: $sm)and(max-width: $md-1) {
        @content
    }
}

;
@mixin for-large-size {
    @media (min-width: $md)and(max-width: $lrg-1) {
        @content
    }
}

;
@mixin for-extra-size {
    @media (min-width: $lrg) {
        @content
    }
}

;
@mixin for-orientation {
    @media(orientation: landscape) {
        @content
    }
}

;