* {
    box-sizing: border-box;
}

._block {
    height: 200px;
    display: flex;
}

.nav {
    background-color: #ff7f50;
    flex-grow: 1;
}

.product_list {
    background-color: #006400;
    flex-grow: 1;
}

.news {
    background-color: #0ff;
    flex-grow: 1;
}

span {
    background-color: #faebd7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    border-radius: 4px;
    text-transform: lowercase;
    margin: auto;
}

@media (min-width: 600px) {
    .nav_prod {
        display: flex;
        flex-grow: 2;
    }
}

@media (min-width: 900px) {
    .page {
        display: flex;
    }
}