$base_font_family:Verdana,
Geneva,
Tahoma,
sans-serif;
$base_font_size:16px;
$unit: 3em;
$header_color:#006400;
$primary_color:#ff7f50;
$secondary_color:#9acd32;
$prime_list_color:#fff;
$second_list_color: #ffff00;
$hover_list_color:#000;