 * {
     box-sizing: border-box;
     /* margin: 0; */
 }
 
 .header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: darkturquoise;
     height: 40px;
     z-index: 50;
 }
 
 .nav-list {
     margin: 0;
     height: 40px;
 }
 
 .nav-item {
     display: inline-block;
     margin-left: 16px;
     line-height: 2.5;
     color: white;
     padding-left: 0;
 }
 
 .content {
     background-color: beige;
     height: 5000px;
 }
 
 .head {
     width: 200px;
     height: 200px;
     background-color: aquamarine;
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 4;
     transform: translate(-50%, -50%);
 }
 
 .ear {
     height: 60px;
     width: 40px;
     background-color: brown;
 }
 
 .ear_right {
     position: relative;
     top: -60px;
     left: 200px;
 }
 
 .ear_left {
     position: relative;
     top: -120px;
     right: 40px;
 }
 
 .eye {
     background-color: grey;
     height: 30px;
     width: 30px;
     border-radius: 50%;
 }
 
 .eye_right {
     position: absolute;
     top: 80px;
     right: 40px;
     z-index: 5;
 }
 
 .eye_left {
     position: absolute;
     top: 80px;
     left: 40px;
     z-index: 5;
 }